.main {
  color: red;
  font-size: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.button {

  background-color: aliceblue;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;


}